/* Navbar Styles */
.navbar {
  background-color: var(--primary-color) !important;
    padding: 0;
    }

    .navbar-brand,
    .nav-link {
      color: var(--text-light) !important;
      }

      /* Centrar menú */
      #navbarSupportedContent {
	display: flex;      
        justify-content: center;
	align-items: center;
	}

	/* Separar los títulos del menu */
	.navbar-nav .nav-item {
	  margin: 0 15px;
	  }

	  .navbar-nav .nav-item:hover {
	    transform: translateY(-10px);
	      transition: transform 0.5s;
	      }

	      /* Hacer que el navbar ocupe todo el ancho */
	      .container-fluid {
	        padding: 0;
		}

		/* Ajustes para el botón del menú en móviles */
		.navbar-toggler {
		  position: absolute;
		    right: 15px;
		    }

		    /* Estilos para el icono del carrito y login */
		    .cart-icon {
		      margin-left: relative;
		        position: relative;
			}

			.cart-login {
			  margin-left: relative;
			    position: relative;
			    }

			    .cart-login a {
			      color: var(--text-light);
			        font-size: 22px;
				  text-decoration: none;
				    padding: 8px;
				      display: inline-block;
				        transition: color 0.3s ease;
					}

					.cart-login a:hover {
					  color: #6EB4FF;
					  }

					  .cart-icon a {
					    color: var(--text-light);
					      font-size: 22px;
					        text-decoration: none;
						  padding: 8px;
						    display: inline-block;
						      transition: color 0.3s ease;
						      }

						      .cart-icon a:hover {
						        color: #6EB4FF;
							}

							.cart-count {
							  position: absolute;
							    top: 4px;
							      right: -5px;
							        background: red;
								  color: var(--text-light);
								    font-size: 10px;
								      font-weight: bold;
								        padding: 2px 6px;
									  border-radius: 50%;
									  }

									  .inicio-sesion {
									    color: var(--text-light);
									      font-size: 14px;
									        padding: 2px;
										}

										.logo-brand {
										  height: 60px;
										    width: auto;
										      object-fit: contain;
										      }














































